# terraform infra
infrastructure/.terraform
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform.tfstate.lock.info

# dbt
target/
dbt_modules/
logs/

# artifacts
*.zip
utils/lambda_layer_python_3.7/python

# docker volumes
postgres_data/
